DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
SESSION_SECRET=вставь_сюда_длинную_случайную_строку
ADMIN_EMAIL=computer52552@gmail.com
ADMIN_PASSWORD=098456964
ADMIN_NAME=degrees
NODE_ENV=production
PORT=3000
